.menu {
  width: 350px;
  background-color: #364a63;
  position: absolute;
  padding: 20px;
  right: 60px;
  height: 451px;
  z-index: 10;
}

.cartOption {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
}

.priceline {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 16px;
}

.price {
  color: #beed14;
}

@media screen and (max-width: 500px) {
  .menu {
    width: 300px;
    right: 20px;
  }
}
