.option {
  display: flex;
  justify-content: space-between;
  text-align: end;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.title,
.price {
  font-size: 16px;
}

.price {
  color: #beeb14;
}
.remove {
  cursor: pointer;
  color: rgb(223, 48, 48);
  font-size: 12px;
  font-style: italic;
}
.remove:hover {
  text-decoration: underline;
}

.image {
  object-fit: contain;
}
